<style>
    body {
        color: #72aed8;
    }

    h3 {
        text-align: center;
        color: #72aed8;
    }

        h3:hover {
            color: #009cdf;
        }

    h6
    {
        text-align:center;
    }



    .Experience 
    {
        margin-top: 50px;
    }

    .job {
        padding: 20px;
        background-color: #0c0d16;
    }

    .transform {
        padding: 20px;
        color: #72aed8;
        background-color: #0c0d16;
    }

    #button {
        text-align: center;
        background-color: #0c0d16;
    }

    #wrapper {
        overflow: hidden;
        transition: max-height ease-in-out 500ms;
        max-height: 0; /* <---hide by default */
        -webkit-transition: all .5s ease;
        -o-transition: all .5s ease;
        transition: all .5s ease;
    }

        #wrapper.open {
            transition: max-height ease-in-out 500ms;
            max-height: 1000px; /* <---when open, allow content to expand to take up as much height as it needs, up to e.g. 100px */
            -webkit-transition: all 5s ease;
            -o-transition: all 5s ease;
            transition: all 5s ease;
        }

    #button1 {
        text-align: center;
    }
    #wrapper1 {
        overflow: hidden;
        transition: max-height ease-in-out 500ms;
        max-height: 0; /* <---hide by default */
        -webkit-transition: all .5s ease;
        -o-transition: all .5s ease;
        transition: all .5s ease;
    }
        #wrapper1.open {
            transition: max-height ease-in-out 500ms;
            max-height: 1000px; /* <---when open, allow content to expand to take up as much height as it needs, up to e.g. 100px */
            -webkit-transition: all 5s ease;
            -o-transition: all 5s ease;
            transition: all 5s ease;
        }

    #button2 {
        text-align: center;
    }

    #wrapper2 {
        overflow: hidden;
        transition: max-height ease-in-out 500ms;
        max-height: 0; /* <---hide by default */
        -webkit-transition: all .5s ease;
        -o-transition: all .5s ease;
        transition: all .5s ease;
    }
        #wrapper2.open {
            transition: max-height ease-in-out 500ms;
            max-height: 1000px; /* <---when open, allow content to expand to take up as much height as it needs, up to e.g. 100px */
            -webkit-transition: all 5s ease;
            -o-transition: all 5s ease;
            transition: all 5s ease;
        }

    #button3 {
        text-align: center;
    }
    #wrapper3 {
        overflow: hidden;
        transition: max-height ease-in-out 500ms;
        max-height: 0; /* <---hide by default */
        -webkit-transition: all .5s ease;
        -o-transition: all .5s ease;
        transition: all .5s ease;
    }
        #wrapper3.open {
            transition: max-height ease-in-out 500ms;
            max-height: 1000px; /* <---when open, allow content to expand to take up as much height as it needs, up to e.g. 100px */
            -webkit-transition: all 5s ease;
            -o-transition: all 5s ease;
            transition: all 5s ease;
        }

    #button4 {
        text-align: center;
    }
    #wrapper4 {
        overflow: hidden;
        transition: max-height ease-in-out 500ms;
        max-height: 0; /* <---hide by default */
        -webkit-transition: all .5s ease;
        -o-transition: all .5s ease;
        transition: all .5s ease;
    }
        #wrapper4.open {
            transition: max-height ease-in-out 500ms;
            max-height: 1000px; /* <---when open, allow content to expand to take up as much height as it needs, up to e.g. 100px */
            -webkit-transition: all 5s ease;
            -o-transition: all 5s ease;
            transition: all 5s ease;
        }

    #button5 {
        text-align: center;
    }
    #wrapper5 {
        overflow: hidden;
        transition: max-height ease-in-out 500ms;
        max-height: 0; /* <---hide by default */
        -webkit-transition: all .5s ease;
        -o-transition: all .5s ease;
        transition: all .5s ease;
    }
        #wrapper5.open {
            transition: max-height ease-in-out 500ms;
            max-height: 1000px; /* <---when open, allow content to expand to take up as much height as it needs, up to e.g. 100px */
            -webkit-transition: all 5s ease;
            -o-transition: all 5s ease;
            transition: all 5s ease;
        }
</style>
<html>
<body>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script>
        $(function () {
            var b = $("#button");
            var w = $("#wrapper");

            b.click(function () {
                if (w1.hasClass('open')) {
                    w1.toggleClass('open')
                }

                if (w2.hasClass('open')) {
                    w2.toggleClass('open')
                }

                if (w3.hasClass('open')) {
                    w3.toggleClass('open')
                }

                if (w4.hasClass('open')) {
                    w4.toggleClass('open')
                }

                if (w5.hasClass('open')) {
                    w5.toggleClass('open')
                }

                w.toggleClass('open'); /* <-- toggle the application of the open class on click */
            })


            var b1 = $("#button1");
            var w1 = $("#wrapper1");
            b1.click(function () {
                if (w.hasClass('open')) {
                    w.toggleClass('open')
                }

                if (w2.hasClass('open')) {
                    w2.toggleClass('open')
                }

                if (w3.hasClass('open')) {
                    w3.toggleClass('open')
                }

                if (w4.hasClass('open')) {
                    w4.toggleClass('open')
                }

                if (w5.hasClass('open')) {
                    w5.toggleClass('open')
                }

                w1.toggleClass('open'); /* <-- toggle the application of the open class on click */
            });

            var b2 = $("#button2");
            var w2 = $("#wrapper2");
            var pre = $("#prewrap")
            b2.click(function () {
                if (w.hasClass('open')) {
                    w.toggleClass('open')
                }

                if (w1.hasClass('open')) {
                    w1.toggleClass('open')
                }

                if (w3.hasClass('open')) {
                    w3.toggleClass('open')
                }

                if (w4.hasClass('open')) {
                    w4.toggleClass('open')
                }

                if (w5.hasClass('open')) {
                    w5.toggleClass('open')
                }

                w2.toggleClass('open'); /* <-- toggle the application of the open class on click */
            });

            var b3 = $("#button3");
            var w3 = $("#wrapper3");
            var pre = $("#prewrap")
            b3.click(function () {
                if (w.hasClass('open')) {
                    w.toggleClass('open')
                }

                if (w1.hasClass('open')) {
                    w1.toggleClass('open')
                }

                if (w2.hasClass('open')) {
                    w2.toggleClass('open')
                }

                if (w4.hasClass('open')) {
                    w4.toggleClass('open')
                }

                if (w5.hasClass('open')) {
                    w5.toggleClass('open')
                }

                w3.toggleClass('open'); /* <-- toggle the application of the open class on click */
            });


            var b4 = $("#button4");
            var w4 = $("#wrapper4");
            var pre = $("#prewrap")
            b4.click(function () {
                if (w.hasClass('open')) {
                    w.toggleClass('open')
                }

                if (w1.hasClass('open')) {
                    w1.toggleClass('open')
                }

                if (w2.hasClass('open')) {
                    w2.toggleClass('open')
                }

                if (w3.hasClass('open')) {
                    w3.toggleClass('open')
                }

                if (w5.hasClass('open')) {
                    w5.toggleClass('open')
                }

                w4.toggleClass('open'); /* <-- toggle the application of the open class on click */
            });

            var b5 = $("#button5");
            var w5 = $("#wrapper5");
            var pre = $("#prewrap")
            b5.click(function () {
                if (w.hasClass('open')) {
                    w.toggleClass('open')
                }

                if (w1.hasClass('open')) {
                    w1.toggleClass('open')
                }

                if (w2.hasClass('open')) {
                    w2.toggleClass('open')
                }

                if (w3.hasClass('open')) {
                    w3.toggleClass('open')
                }

                if (w4.hasClass('open')) {
                    w4.toggleClass('open')
                }

                w5.toggleClass('open'); /* <-- toggle the application of the open class on click */
            });

        });
    </script>

    <div class="Experience">

        <div class="transform" id="button">
            <h3>Production Support Analyst at HPA, A Cognizat Company </h3>
            <h6>February 2017 - March 2019</h6>
            <p id="wrapper">
                Manage production for clients using proprietary automation software, maintain virtual machines and
                optimize maintenance procedures and in Production scripts using batch files, PowerShell and C# to
                automate task for Production Support Staff using C#, .Net, WindowsAPI, ExcelInterOpsAPI, SlackAPI, PowerShell,
                SQL Server, internal code repository and other technologies while working with Business Analyst and clients in
                order to develop scripts that met business rules, stage test data, test scripts in test environments before
                implementing changes into production environments including managing DLLs, software configuration, and any other technical responsibilities that may be required during testing.
            </p>
        </div>
        <div class="job" id="button1">
            <h3>Repair Technician at OriginPC</h3>
            <h6>February 2016 - February 2017</h6>
            <p id="wrapper1">
                Work as part of a small team repairing high performance servers, desktop and laptops, on all versions of
                Windows, while providing customer support via ticketing system, and assist in establishing a network
                infrastructure including running cables, terminating cables, and testing connection to all systems.
            </p>
        </div>
        <div class="job" id="button2">
            <h3>IT Support at ITNetworx</h3>
            <h6>October 2015 - January 2016</h6>
            <p id="wrapper2">
                Manage, establish, maintain networks, servers, and systems at multiple locations remotely and on site,
                including  running network cable, crimping, punching as necessary, Windows installation, and minor
                Active Directory setup, and maintaining security polices per client request.
            </p>
        </div>
        <div class="job" id="button3">
            <h3>Freelance Computer Technician</h3>
            <h6>April 2015 - January 2016</h6>
            <p id="wrapper3">
                Work with customers to build my own business and clientele repairing, upgrading, diagnosing, and assembling a variety of desktops and laptops, for both Windows and Mac.
            </p>
        </div>
        <div class="job" id="button4">
            <h3>Sales Associate at Tiger Direct</h3>
            <h6>February 2015 - December 2015</h6>
            <p id="wrapper4">
                Aid customers with a wide range of products with a focus on computer hardware for personal systems, servers and networking needs as well as assisting the technical team with system assembly.
            </p>
        </div>
        <div class="job" id="button5">
            <h3>Production Assistant at ACME Production Services and ESPN</h3>
            <h6>February 2014 - November 2015</h6>
            <p id="wrapper5">
                Work with Directors and Assistant Directors to complete a wide range of task from day to day operations, 3D modeling for accurate staging,
                or working with members of various parts of the team in order to ensure everything is in order for the live event as well as be on hand
                for anything that may arise.
            </p>
        </div>
    </div>
</body>
</html>