<style>
    .form-horizontal {
        background-color: #0c0d16;
        color: #72aed8;
        margin-top: 50px;
        padding: 20px;
    }
</style>
<div class="form-horizontal">
    <p>
        Something about your form upset me, it's nothing personal but with all these robots on the internet we can never be to careful!
        <br />
        <br />

        If you're not a robot please ensure the following:
        <br />
        • You haven't tried contacting me before, if your email is already stored it won't allow you to submit again while its present.
        <br />
        • No fields are blank
        <br />
        • Your email is less than 50 characters
        <br />
        • Your phone number is less than 20 characters
        <br />
        • Your reason is less than 50 characters
        <br />
        • Your message is less than 500 characters

    </p>
</div>