<style>
    .form-horizontal {
        background-color: #222222;
        color: rgb(153,153,153);
        margin-top: 200px;
        padding: 20px;
        text-align: center;
    }
</style>
<div class="form-horizontal">
    <p>Something about your form upset me, it's nothing personal but with all these robots on the internet we can never be to careful</p>
</div>