<style>
    .form-horizontal {
        background-color: #222222;
        color: rgb(153,153,153);
        margin-top: 200px;
        padding: 20px;
        text-align:center;
    }
</style>
    <div class="form-horizontal">
        <p>Your form has been submitted to my database, I review these frequently so as promised I'll get back to you as soon as I can!</p>
    </div>