<style>
    .form-horizontal {
        background-color: #0c0d16;
        color: #72aed8;
        margin-top: 50px;
        padding: 10px;
        text-align: center;
    }
</style>
    <div class="form-horizontal">
        <p>Your form has been submitted to my database, I review these frequently so as promised I'll get back to you as soon as I can!</p>
    </div>