@model MyWebsite.Models.PersonModels
<style>
    .About {
        background-color: #0c0d16;
        color: #5689ad;
        margin-top: 100px;
        padding: 20px;
    }
</style>

<div class="About">
    <p>
        <div class="text-center">
            <h2>About Chris</h2>
        </div>


        Hello everyone, <br />
        <br />
        My name is Christian Enamorado, I'm <a title="age = (DateTime.Now - Convert.ToDateTime(dob)).Days / 365;" data-toggle="tooltip" data-placement="top" href="#!">@Html.DisplayFor(model => model.BirthDate)</a> years old, I was born and raised in Miami, Florida and I am a first generation US Immigrant with my roots being from Honduras. <br />
        <br />
        Knowing at a young age I wanted to get into technology I decided to get started learning how to program from scratch. It all started in 2004 with the release of World of Warcraft. Unable to play to the
        retail versions of the game, I took matters into my own hands and ventured into private servers, after some time I learned I could host my own and began working with writing scripts in LUA, making graphics, and working on websites, eventually
        hosting my own locally on my little laptop for others to join and play on and continued doing so for several years with various games and communities. After years of doing this I knew I wanted to work in technology as a career so
        I started developing my technical skills both professionally and casually for fun! Fast forward nearly 20 years from the kid who just liked to play video games to today, needless to say, technology has thus far
        been a life long passion of mine that has stood the test of time and provided me a way to not only help myself but help those around me.
        <br />
        <br />
        From developing personal relations with clients building computers and servers, setting up networks during the construction of office spaces, maintaining their networks and solving many technical issues.
        I've decided to settle into programming with the goal of moving into higher levels of software development and engineering and eventually I'd love to get into some form of Penetration Testing or Ethical Hacking.
        From developing my own frameworks with automation in mind with the knowledge gained in my recent expereinces, integrating external technologies and multiple languages in order to create real world solutions
        I've learned much in my life and continue to strive to learn more, it would not be rare to catch me surrounded with serveral Programming books in pursuit of answers to how things work both on the Front-End and the Back-End,
        whether de-mystifying the space and time complexities of algortihims, manually sorting through binary trees to figure out how Data Structures work, writing a script to do my job for me, or using my website to interact with users,
        I know in the next 20 years I'll be much further along than I am today and look forward to the journey of both inheriting and passing knowledge over time, and with a bit of luck and hard work I may just end up where I long to be.
        after all, anything is possible.
        <br />
        <br />
        And for the record I know the color scheme and design isn't the greatest but these are the colors us programmers look at all day!
    </p>
</div>
